* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #20202D;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.container {
    width: 90%;
    max-width: 945px;
    margin: 0 auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title {
    margin: 0;
    margin-bottom: 84px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

/*-----------------------------header----------------------------------------------------*/
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
    margin-bottom: 105px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0;
}

.social-link img:hover {
    color: #FFBB01;
}

.hero-subtitle {
    margin-bottom: 14px;
    display: inline-block;

    font-size: 24px;
    line-height: 28px;

    color: #FFBB01;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 50px;
    line-height: 59px;
    font-weight: bold;
}

.hero-description {
    margin-bottom: 38px;
    max-width: 420px;

    font-size: 16px;
    line-height: 28px;
}

.button {
    padding: 24px 42px;
    max-width: 100%;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    color: black;

    cursor: pointer;
    border: none;
    border-radius: 5px 5px 10px 10px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
}

.button:hover {
    background: #FDDE76 0%;
    box-shadow: 0px 4px 0px #20202D;
}

.hero-avatar {
    width: 389px;
    height: 389px;

    border-radius: 50%;
    border: 13px solid #fff;
    cursor: pointer;

    background-color: #fff;
    background-image: url(/img/main-avatar2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-avatar:hover {
    border-color: #FDDE76;
    transition-property: border;
    transition-duration: .5s;
}

/*-----------------------------END/header----------------------------------------------------*/
/*-----------------------------features----------------------------------------------------*/
.features {
    background-color: #000000;
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 64px;
}

.features-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.features-image {
    display: block;
    margin-bottom: 22px;
}

.features-text {
    margin: 0;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

/*-----------------------------END/features----------------------------------------------------*/
.section {
    padding-top: 126px;
}

.section-title {
    margin: 0 0 100px 0;
    padding: 0;
}

.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-text {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

.project-title {
    margin: 0;
    margin-bottom: 35px;
    flex-basis: 100%;
}

.project-time {
    margin: 0 88px 48px 0;
}

.project-time,
.project-cost,
.project-feedback {
    display: flex;
    align-items: flex-start;
    margin-bottom: 44px;
}

.project-iсon {
    margin: 0;
    padding: 0;
    margin-right: 16px;
}

.project-subtitle {
    margin-bottom: 7px;
}

.project-paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-bullet {
    display: inline-block;
    margin-right: 10px;

    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    cursor: pointer;
}

.projects-bullet-active {
    background: #FFBB01;
}

/*-----------------------------footer----------------------------------------------------*/
.contacts-form {
    padding: 40px 36px 49px 36px;
    max-width: 520px;
    /* min-width: 380px */
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
}

.form-title {
    margin: 0;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #000000;
}

.input {
    padding: 18px 20px;
    width: 100%;
    padding-left: 50px;

    font-size: 14px;
    line-height: 28px;
    border: none;
    color: #000;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
}

.input-name {
    margin-bottom: 17px;
    background-image: url(/img/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone {
    margin-bottom: 26px;

    background-image: url(/img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form-button {
    width: 100%;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 145px;
    flex-basis: 50%;
}

.contacts-data a {
    text-decoration: none;
}

.contacts-phone,
.contacts-mail {
    margin: 0;
    margin-bottom: 53px;
    flex-basis: 50%;
}

.contacts-title {
    margin: 0;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.contacts-social {
    margin: 0;
    margin-bottom: 42px;
    flex-basis: 100%;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-link {
    margin-right: 37px;
}

.contact-policy {
    display: inline-block;
    margin-top: 72px;
    margin-left: 180px;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #A5A5A5;
}




/*response*/
@media (max-width: 980px) {

    /*1100px*/
    .hero-avatar {
        width: 300px;
        height: 300px;
        border-width: 9px;
    }
}

@media (max-width: 820px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .hero-avatar {
        order: 0;
        margin-bottom: 50px;
    }

    .hero-text {
        order: 1;
        text-align: center;
        width: 400px;
    }

    .features-item {
        flex-basis: 45%;
    }

    .projects-slide {
        flex-direction: column;
    }

    .project-image {
        margin-bottom: 46px;
    }

    .contacts-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-form {
        width: 380px;
        margin-bottom: 58px;
    }

    .contacts-data {
        padding-left: 0;
    }

    .contact-policy {
        margin-left: 0;
    }

}

@media (max-width: 550px) {

    .hero {
        padding: 10px 10px 75px 10px;
    }

    .hero-subtitle {
        font-size: 16px;
        line-height: 27px;
    }

    .hero-avatar {
        width: 113px;
        height: 113px;
        border-width: 3px;
    }

    .hero-header {
        margin-bottom: 38px;
        padding-top: 0;
    }

    .hero-title {
        font-size: 24px;
        line-height: 28px;
    }

    .hero-text {
        width: 290px;
    }

    .hero-description {
        font-size: 14px;
        line-height: 140%;
    }

    .hero-button {
        font-size: 10px;
        line-height: 12px;
        padding: 16px 28px;
    }

    .section-title {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 60px;
    }

    .features-item {
        flex-basis: 100%;
    }

    .features-title {
        font-size: 18px;
        line-height: 28px;
    }

    .features-text {
        font-size: 14px;
        line-height: 28px;
    }

    .section {}

    .project-title {
        font-size: 18px;
        line-height: 150%;
    }

    .projects-slide {
        margin-right: 2px;
    }

    .projects-slide .poject-image {
        width: 20px;
    }

    .projects-pagination {
        margin-bottom: 0;
    }

    .contacts-form {
        width: 100%;
    }

    .contacts-social {
        display: flex;
        flex-direction: column;

    }

    .contacts-link {

        margin-bottom: 10px;
    }

    .contacts-phone {
        flex-basis: 59%;
    }

    .contacts-data {}


}